{% extends 'layout.html' %}
{% block body %}
{% from "includes/_macros.html" import render_field_with_errors, render_field %}
{% include 'includes/_messages.html' %}

<div class="container mt-3 mb-3">
    <h3>{{ employer.name }}</h3>
    <hr>
    <div class="row">
        <div class="col-12">
            <ul class="actions">
                <li><a class="button alt mb-3" href="{{ url_for('edit_employer', id=employer.id) }}">Edit</a></li>
                <li><a class="button alt mb-3" href="#">Delete</a></li>
                <li><a class="button alt mb-3" href="{{ url_for('employer_jobs', id=employer.user_id) }}">Jobs</a></li>
            </ul>
        </div>
        <div class="col-12">
            {{ employer.description }}
        </div>

    </div>
</div>

{% endblock %}