{% extends 'layout.html' %}
{% block body %}
{% include 'includes/_messages.html' %}

<div class="container"  style="padding: 10px;">
    <div class="row">
        <div >
            <article>
                <div class="content">
                    <header style="padding: 10px;">
                        <h3> {{ job.name }} </h3>
                        <small> {{ job.employer.name }}</small>
                    </header>
                    <hr>
                    <header style="padding: 10px;">
                        <h6>Description</h6>
                    </header>
                    <p>{{ job.description|safe }}</p>
                    <header style="padding: 10px;">
                        <h6>Qualifications</h6>
                    </header>
                    <p>{{ job.qualifications|safe }}</p>
                    <ul class="actions">
                        {% if currentuser %}
                        <li><a href="{{ url_for('apply', id=job.id) }}" class="button alt">Apply</a></li>
                        {% endif %}
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>

{% endblock %}